
/* Need to make the bottom of the h1 and navlinks line up */
/* Need to add a picture to the about me */
/* Need to add text boxes to the pictures in work */


:root {
    --bg: #302e2b;
    --dark: #282724;
    --light: #fedb7b;
    --accent: #f48506;
    --accent2: #027f7f;
    --light2: #fff;
}

body {
    background: var(--bg);
    margin: 0px;
    padding: 0px;
}

section {
    display: flex;
    margin: 5px;
}

.header {
    display: flex;
    background: var(--dark);
    border-bottom: 20px solid var(--accent);
    margin-bottom: 4%;
}

div nav ul li a:hover {
    color: var(--accent)
}


/* Flexbox stuff */
.parent {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.hparent {
    display: flex;
    width: 100vw;
    height: 175px;
    margin: 5px 0 0 5px;
    position: relative;
    justify-items: center;
    align-items: center;

}

.hflex-left {
    width: 75%;

}

.hflex-right {
    width: 25%;
    align-self: flex-end;
}

.flex-left {
    width: 15vw;
    padding-left: 10px;
    text-align: left;
}

.flex-right {
    width: 80vw;
    border-left: 3.5px ridge var(--accent);
}  

.flex-container {
    display: flex;
    padding-left:4%;
}

.aboutmeflex {
    display: flex;
    width: 70%;
}  

.proflex {
    display: flex;
}

/* Text elements */
h1 {
    display:inline-block;
    margin-left: 3%;
    padding-top: 3%;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light);
    letter-spacing: 0.4em;
    text-shadow: 5px 0px 10px #000;
}

.z {
    font-size: 300%;
    color: var(--accent);
}

h2 {
    font-size: 1.65em;
    margin-left: 1%;
    color: var(--light2);
    letter-spacing: 0.4em;
}

h3 {
    color: var(--light2);
    font-size: 1.2em;
}

p {
    color: var(--light2);
    margin-left: 5%;
    letter-spacing: 0.05em;
}


/* Navigation */
nav ul li {
    display: inline;
    list-style: none;
    padding-right:50px;
    font-size: 1.2em;
    color: var(--light2);
    text-decoration: none;
    font-family: monospace;
    font-style: italic;
    letter-spacing: -0.05em;
    text-align: justify;
}

a:link {
    color: var(--light2);
    text-decoration: none;
}

a:visited {
    color: var(--light2);
}

/* Images */
.profile {
    display: inline-block;
    width: 150px;
    height: auto;
    border: 3px solid var(--accent)
}

.image-gallery li {
    position: relative;
}

.projname {
    position:absolute;
    padding: 3px;
    padding-left: 20px;
    background-color: var(--accent);
    color: var(--light2);
    bottom: 20px;
    letter-spacing: 0.2em;
    font-style: italic;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
.image-gallery::after {
    content: "";
    flex-basis: 350px;
  }

.image-gallery > li {
    flex-basis: calc(50% - 1em); 
    list-style: none;
    position: relative;
    cursor: pointer;
  }
  
.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    vertical-align: middle;
    border-radius: 2px;
    border: 4px solid var(--accent)
  }

#project1 {
    flex-basis:100%;
}

#project1 img {
    width:100%;
    height: 300px;
}

  .brighten {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brighten:hover {
    -webkit-filter: brightness(100%);
}

.projname:hover {
    -webkit-filter: brightness(100%);
}

/* Resize for smaller screens */
@media screen and (max-width: 1025px) {
    .header {
        border-bottom: 7px solid var(--accent2);
    }

    .hparent {
        display: flex;
        width: 100vw;
        height: 150px;
        margin: 5px 0 0 5px;
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
    
    }
    
    .hflex-left {
        width: 50vw;
        height:100px;
        text-align: center;
    }
    
    .hflex-right {
        width: 50vw;
        text-align: center;
        align-self: center;
    }
    
    .z {
        color: var(--accent2);
    }

    div nav ul li a:hover {
        color: var(--accent2)
    }

    #aboutme {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #mywork {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contactme {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contactinfo {
        text-align: center;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-right {
        padding-top: 10px;
        border: 0;
    }

    h1 {
        font-size: 1.4em;
        color: var(--light2);
    }

    h2 {
        font-size: 1em;
        text-align: left;
        text-shadow: 1.15px .5px 0px var(--accent2);
    }

    p {
        font-size:90%;
    }

    .projname {
        background-color: var(--accent2);
    }

    .profile {
        border: 3px solid var(--accent2)
    }

    .brighten {
        -webkit-filter: brightness(100%);

    }

    .image-gallery li img {
        border: 3px solid var(--accent2)
      }
}

@media screen and (max-width: 500px) {

    .hparent {
        display: flex;
        width: 100vw;
        height: 125px;
        margin: 5px 0 0 5px;
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
    
    }
    
    .hflex-left {
        text-align: center;
    }
    
    .hflex-right {
        width: 100vw;
        text-align: center;
        align-self: center;
    }
    
    .nav {
        font-size: .65em;
    }


    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: .9em;
        text-shadow: 1.15px .5px 0px var(--accent2);
    }

    p {
        font-size:90%;
    }

    #contactinfo {
        width: 100vw;
        margin-left: -14%;
        font-size: .7em;
    }

    #project1 img {
        width:100%;
        height: 200px;
    }
  
    .image-gallery li img {
        width: 100%;
        height: 100px;
    }

    .projname {
        font-size: 80%;
        padding-left: 5px;
    }
}