
:root {
    --dark: #231f20;
    --light: #fedb7b;
    --accent: #f48506;
    --light2: #fff;
}

body {
    display: grid;
    margin:0px;
    height:100vh;
    width: 100vw;
    align-items:center;
    justify-content:center;
    background: var(--dark);
}

main {
    display: flex;
    flex-wrap:wrap;
    margin-top: 2%;
  }

.header {

    overflow: hidden;
    padding: 15px;
    margin-top: 50px;
    background-color: var(--dark);
}


.box1 {
    display: inline-block;
    padding: 10px;
    text-align: left;
    width: 10%;
    overflow: hidden;
}

.box2 {
    display: inline-block;
    margin:10px;
    width: 50%;
    border-left: 5px solid var(--light);
    
}

.box3 {
    display: flex;
    border:#f48506
}

/* Nav */
nav {
    padding-top: 25px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    color: var(--light2);
    text-decoration: none;
    font-family: monospace;
    font-style: italic;
    letter-spacing: -0.05em;
}

a:link {
    font-size: 18px;
    color: var(--light2);
    text-decoration: none;
    font-family: monospace;
    font-style: italic;
    letter-spacing: -0.05em;
}

a:visited {
    color: var(--light2);
}

a:hover {
    color: var(--accent);
    background-color: #fedb7b;
    padding: 5px;
    border-radius: 5px;
}


/* Positioning */



.right {
    float: right;
}

.left {
    float: left;
}

/* Heading and Text Elements */

h1 {
    margin-left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light);
}

h1::first-letter {
    font-size: 500%;
    color: var(--accent);
}

h2 {
    margin-left: 1%;
    color: var(--accent);

}

p {
    color: var(--light2);
    margin-left: 5%;
}

.wide {
    letter-spacing: 0.4em;
}

.tight {
    letter-spacing: -0.05em;
}

/* Animation */


/* Image Elements */

.mywork1 {
display: flex;
margin-left: 5%;
width:30vw;
height:auto;
border: 3px solid var(--accent);

}

.mywork2 {
    display: flex;
    margin: 2% 5%;
    width:50%;
    height:25%;
    border: 3px solid var(--accent);
    
    }
