
/* Need to make the bottom of the h1 and navlinks line up */
/* Need to add a picture to the about me */
/* Need to add text boxes to the pictures in work */


:root {
    --bg: #302e2b;
    --dark: #282724;
    --light: #fedb7b;
    --accent: #f48506;
    --accent2: #027f7f;
    --light2: #fff;
}

body {
    background: var(--bg);
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background: var(--dark);
    border-bottom: 20px solid var(--accent2);
}

section {
    display: flex;
    margin: 5px;
}

.parent {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 0 5px;
}

.hparent {
    display: flex;
    width: 100vw;
    height: 150px;
    flex-flow: row nowrap;
    margin: 5px 0 0 5px;
    justify-content: space-evenly;
}

.hflex-left {
    width: 50vw;
}

.hflex-right {
    width: 50vw;
    align-self: flex-end;
}

.flex-left {
    width: 15vw;
    padding-left: 10px;
    text-align: left;
}

.flex-right {
    width: 80vw;
    border-left: 3px solid var(--accent);
}  

.flex-container {
    display: flex;
    margin-left:4%;
}

.flex-child {
    width: 70%;
}  

.flex-child:first-child {
    margin-right: 20px;
    width:20%;
} 



h1 {
    display:inline-block;
    margin-left: 1%;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light);
    letter-spacing: 0.4em;
}

.z {
    font-size: 400%;
    color: var(--accent);
}

h2 {
    font-size: 1.65em;
    margin-left: 1%;
    color: var(--light2);
    letter-spacing: 0.4em;
}

h3 {
    color: var(--light2);
    font-size: 1.2em;
}

p {
    color: var(--light2);
    margin-left: 5%;
}

nav ul li {
    display: inline;
    list-style: none;
    padding-right:50px;
    font-size: 1.2em;
    color: var(--light2);
    text-decoration: none;
    font-family: monospace;
    font-style: italic;
    letter-spacing: -0.05em;
    text-align: justify;
}

a:link {
    color: var(--light2);
    text-decoration: none;
}

a:visited {
    color: var(--light2);
}


.projname {
    display: inline;
    background-color: #f48506;
    color: var(--light2);
    position:relative;
    bottom: 0px;
}


.profile {
    display: inline-block;
    width: 200px;
    height: auto;
    border: 3px solid var(--accent)
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
  }
  
.image-gallery::after {
    content: "";
    flex-basis: 350px;
  }

  .image-gallery > li {
    flex-basis: 350px; 
    list-style: none;
    position: relative;
    cursor: pointer;
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 2px;
    border: 3px solid var(--accent)
  }

  .card1 {
    width: 50%;
    flex: 1 0 0;
  }

  .card2 {
    width: 25%;
  }

  .brighten img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brighten img:hover {
    -webkit-filter: brightness(100%);
}


/* Resize for smaller screens */
@media screen and (max-width: 992px) {
    .hcontainer {
        display: flex;
        border: 2px solid red;
        width: 100vw;
        flex-flow: column wrap;
        justify-content: center;
        align-content: flex-end;
    }
    
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.25em;
    }

    p {
        font-size:90%;
    }

}


@media screen and (max-width: 768px) {
    .hcontainer {
        display: flex;
        border: 2px solid red;
        width: 100vw;
        flex-flow: column wrap;
        justify-content: center;
        align-content: flex-end;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size:90%;
    }


}